# Scrubbing and Cleaning Data - Lab

## Introduction

In the previous labs, you joined the data from our separate files into a single DataFrame.  In this lab, you'll scrub the data to get it ready for exploration and modeling!

## Objectives

You will be able to:

* Cast columns to the appropriate data types
* Identify and deal with null values appropriately
* Remove unnecessary columns
* Understand how to normalize data


## Getting Started

You'll find the resulting dataset from our work in the _Obtaining Data_ Lab stored within the file `walmart_data_not_cleaned.csv`.  

In the cells below:

* Import pandas and set the standard alias
* Import numpy and set the standard alias
* Import matplotlib.pyplot and set the standard alias
* Import seaborn and set the alias `sns` (this is the standard alias for seaborn)
* Use the ipython magic command to set all matplotlib visualizations to display inline in the notebook
* Load the dataset stored in the .csv file into a DataFrame using pandas
* Inspect the head of the DataFrame to ensure everything loaded correctly

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
# Now, load in the dataset and inspect the head to make sure everything loaded correctly
df = pd.read_csv('Lego_data_merged.csv')
df.head()

,prod_id,ages,piece_count,set_name,prod_desc,prod_long_desc,theme_name,country,list_price,num_reviews,play_star_rating,review_difficulty,star_rating,val_star_rating
0,75823,6-12,277,Bird Island Egg Heist,Catapult into action and take back the eggs fr...,Use the staircase catapult to launch Red into ...,Angry Birds™,US,$29.99,2.0,4.0,Average,4.5,4.0
1,75822,6-12,168,Piggy Plane Attack,Launch a flying attack and rescue the eggs fro...,Pilot Pig has taken off from Bird Island with ...,Angry Birds™,US,$19.99,2.0,4.0,Easy,5.0,4.0
2,75821,6-12,74,Piggy Car Escape,Chase the piggy with lightning-fast Chuck and ...,Pitch speedy bird Chuck against the Piggy Car....,Angry Birds™,US,$12.99,11.0,4.3,Easy,4.3,4.1
3,21030,12+,1032,United States Capitol Building,Explore the architecture of the United States ...,Discover the architectural secrets of the icon...,Architecture,US,$99.99,23.0,3.6,Average,4.6,4.3
4,21035,12+,744,Solomon R. Guggenheim Museum®,Recreate the Solomon R. Guggenheim Museum® wit...,Discover the architectural secrets of Frank Ll...,Architecture,US,$79.99,14.0,3.2,Challenging,4.6,4.1

## Starting our Data Cleaning

To start, you'll deal with the most obvious issue: data features with the wrong data encoding.

### Checking Data Types

In the cell below, use the appropriate method to check the data type of each column.

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10870 entries, 0 to 10869
Data columns (total 14 columns):
prod_id              10870 non-null int64
ages                 10870 non-null object
piece_count          10870 non-null int64
set_name             10870 non-null object
prod_desc            10512 non-null object
prod_long_desc       10870 non-null object
theme_name           10870 non-null object
country              10870 non-null object
list_price           10870 non-null object
num_reviews          9449 non-null float64
play_star_rating     9321 non-null float64
review_difficulty    9104 non-null object
star_rating          9449 non-null float64
val_star_rating      9301 non-null float64
dtypes: float64(4), int64(2), object(8)
memory usage: 1.2+ MB

Now, investigate some of the unique values inside of the `list_price` column.

In [5]:
for col in df.columns:
    try:
        print(col, df[col].value_counts()[:5])
    except:
        print(col, df[col].value_counts())
    print('\n')

prod_id 75531    21
76078    21
41335    21
31076    21
41311    21
Name: prod_id, dtype: int64


ages 6-12    1476
7-14    1219
8-14    1055
5-12     891
2-5      777
Name: ages, dtype: int64


piece_count 1      337
109     86
69      85
24      84
149     84
Name: piece_count, dtype: int64


set_name Rey                    42
Kylo Ren™              42
Chewbacca™             42
Y-Wing Starfighter™    42
Han Solo™              41
Name: set_name, dtype: int64


prod_desc Summon the dark side with a LEGO® BrickHeadz construction character featuring Kylo Ren™!    21
Intercept The Shocker and take down the Vulture!                                            21
Have an unforgettable evening at the amazing Parisian Restaurant!                           21
Swing into action with Spider-Man and catch the Scorpion!                                   21
Jump the fire and give the crowd a thrilling show!                                          21
Name: prod_desc, dtype: int64


prod_long_desc Introduce your child to the world of trains and building with the LEGO® DUPLO® My First Train Set. Create the colorful steam train with sound effects, a passenger wagon, station with ticket window, fueling pump and signal. With a lot of DUPLO bricks and track, it's the perfect set for budding builders and hours of train-themed creative play. Requires 3 AA (1.5V) batteries (not included). Includes train driver and child DUPLO figures.\nA colorful, easy-to-build train set and station for hours of creative roleplay!\nIncludes train driver & child LEGO DUPLO figures\nLEGO DUPLO building toys are compatible with all LEGO DUPLO & LEGO construction sets for creative building\nTrain track is over 68” long & 29” wide when built. Train is over 3” high, 11” long and 2” wide. Station is over 7” high, 7” long and 2” wide\n52 pieces – For boys and girls between the ages of 2 and 5 years old                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              21
Team up with Lloyd Garmadon, Nya and Officer Toque to prevent Shark Army Thug robbing a street food stall vendor in NINJAGO® City Chase. This exciting THE LEGO® NINJAGO MOVIE™ set features a 3-wheel police tuc-tuc vehicle, street food stall with assorted food elements, plus 2 lampposts with a connecting chain of festive NINJAGO lanterns. The set also includes 5 minifigures with various weapons and accessories to add to the fun role-play possibilities.\nIncludes 5 minifigures: Lloyd Garmadon and Nya (each with new-for-August-2017 high school outfit decoration), Officer Toque, Shark Army Thug and Ham.\nPolice tuc-tuc vehicle features a driver seat and rear passenger seat for minifigures, 3 wheels and translucent-blue and red police light-style elements.\nStreet food stall features a stall sign, red awning, fish and cherries for-sale signs, 2 crates and a half-barrel containing assorted elements including 3 cherries, 3 apples and 2 fish.\nAlso includes 2 lampposts with translucent decorative elements and translucent-red light-style elements, plus a connecting chain of festive NINJAGO® lanterns with translucent-red light-style elements.\nWeapons include Shark Army Thug’s fish hammer with a fish handle.\nAccessory elements include Lloyd Garmadon's soda, Nya's mobile phone, Officer Toque's handcuffs and Ham's money.\nRecreate and role-play exciting THE LEGO® NINJAGO® MOVIE™ scenes.\nPolice tuc-tuc measures over 2” (7cm) high, 2” (7cm) long and 1” (3cm) wide.\nStreet food stall measures over 4” (11cm) high, 3” (9cm) wide and 1” (3cm) deep.\nLampposts with lantern chain measure over 5” (14cm) high, 7” (19cm) wide and 1” (3cm) deep.    21
Create a buildable LEGO® Speed Champions version of the car that won the 2016 IMSA SportsCar series—the Ferrari 488 GT3 “Scuderia Corsa”, featuring a minifigure cockpit, removable windshield and authentic design details. This construction toy includes a minifigure and trophy to play out race scenarios.\nIncludes a Ferrari “Scuderia Corsa” racing driver minifigure.\nThe race-ready, buildable Ferrari 488 GT3 “Scuderia Corsa” features a minifigure cockpit with removable windshield, wheels with rubber tires, authentic design details, racing colors and race-graphics stickers.\nRemove the windshield to place the minifigure in the car.\nIncludes a trophy element.\nAlso includes the Ferrari racing driver's helmet.\nThis construction toy is suitable for ages 7-14.\nFerrari 488 GT3 “Scuderia Corsa” measures over 1” (5cm) high, 6” (17cm) long and 2” (6cm) wide.\nTrophy measures over 1” (3cm) high.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    21
Create, play and pack neatly away with this smart and convenient LEGO® Classic Creative Suitcase, featuring a selection of brightly colored LEGO building bricks including bricks, eyes, wheels and shapes, for building all kinds of houses, vehicles, creatures and creations. Open the case to access multiple compartments for sorting and storing LEGO pieces. This set also includes simple, age-appropriate building instructions that will help children discover their own creative building skills.\nFeatures a sturdy yellow suitcase with handy sorting compartments and a selection of colorful pieces, including, bricks, shapes, wheels and eyes.\nMakes a perfect starter set for budding LEGO® builders.\nThis LEGO® Classic building set fosters open-ended creativity and imagination.\nSuitcase measures over 10” (26cm) high, 11” (28cm) wide and 2” (6cm) deep.\nVisit LEGO.com/classic for additional building instructions, fun videos, ideas and inspiration. Ask your parents before going online.\nLet creativity grow with LEGO® Classic sets!\nThis building bricks set is suitable for ages 4-99.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        21
Play out real-life scenarios in LEGO® DUPLO® Town: a recognizable world with modern DUPLO figures. Toddlers will love to take a trip to the Farmers’ Market and learn about all the fresh produce on offer. When they’ve practiced the routines of buying from a market stall with the 3 DUPLO figures, they can load up the family car and drive away! This set is easy to build with large building bricks and helps develop fine motor skills.\nIncludes 3 LEGO® DUPLO® figures: a market stall owner, dad and a child, plus a bird figure.\nFeatures a market stall and a buildable car.\nAccessory elements include a cash register, pumpkins, apples and corn on the cob.\nPreschool children will enjoy driving the car to the Farmers' Market and exploring the produce on offer.\nUse the modern characters, accessories and decorated bricks to have fun, while helping your toddler learn about how to buy from a market stall or store with this versatile toy.\nThese large building bricks make an ideal gift for preschool children.\nLEGO® DUPLO® products are specially designed to be safe and suitable for small hands.\nThere are several LEGO® DUPLO® Town products to collect and play out your child's everyday life in a recognizable DUPLO world.\nSuitable for ages 2-5.\nMarket stall measures over 4” (11cm) high, 4” (12cm) wide and 2” (6cm) deep.\nCar measures over 3” (9cm) high, 5” (14cm) long and 2” (7cm) wide.                                                                                                                                                                                                                                                                   21
Name: prod_long_desc, dtype: int64


theme_name Star Wars™    1377
DUPLO®        1103
City          1072
Friends        607
Juniors        604
Name: theme_name, dtype: int64


country US    722
CA    720
GB    510
NL    510
AT    509
Name: country, dtype: int64


list_price $24.3878    565
$36.5878    520
$12.1878    515
$18.2878    304
$42.6878    234
Name: list_price, dtype: int64


num_reviews 2.0    1299
1.0    1261
3.0     815
4.0     628
6.0     494
7.0     487
5.0     480
Name: num_reviews, dtype: int64


play_star_rating 5.0    2005
Name: play_star_rating, dtype: int64


review_difficulty Easy                3826
Average             3357
Challenging          995
Very Easy            905
Very Challenging      21
Name: review_difficulty, dtype: int64


star_rating 5.0    2380
Name: star_rating, dtype: int64


val_star_rating 5.0    1455
Name: val_star_rating, dtype: int64

In [6]:
df.list_price.unique()[:5]

array(['$29.99', '$19.99', '$12.99', '$99.99', '$79.99'], dtype=object)

### Numerical Data Stored as Strings

A common issue to check for at this stage is numeric columns that have accidentally been encoded as strings. For example, you should notice that the `list_price` column above is currently formatted as a string and contains a proceeding '$'. Remove this and convert the remaining number to a `float` so that you can later model this value. After all, your primary task is to generate model to predict the price.

> Note: While the data spans a multitude of countries, assume for now that all prices have been standardized to USD.

In [17]:
float(df.list_price[0][1:])

29.99

In [26]:
df.list_price = df.list_price.map(lambda x: float(x.replace('$', '')))

In [27]:
df.head()

,prod_id,ages,piece_count,set_name,prod_desc,prod_long_desc,theme_name,country,list_price,num_reviews,play_star_rating,review_difficulty,star_rating,val_star_rating
0,75823,6-12,277,Bird Island Egg Heist,Catapult into action and take back the eggs fr...,Use the staircase catapult to launch Red into ...,Angry Birds™,US,29.99,2.0,4.0,Average,4.5,4.0
1,75822,6-12,168,Piggy Plane Attack,Launch a flying attack and rescue the eggs fro...,Pilot Pig has taken off from Bird Island with ...,Angry Birds™,US,19.99,2.0,4.0,Easy,5.0,4.0
2,75821,6-12,74,Piggy Car Escape,Chase the piggy with lightning-fast Chuck and ...,Pitch speedy bird Chuck against the Piggy Car....,Angry Birds™,US,12.99,11.0,4.3,Easy,4.3,4.1
3,21030,12+,1032,United States Capitol Building,Explore the architecture of the United States ...,Discover the architectural secrets of the icon...,Architecture,US,99.99,23.0,3.6,Average,4.6,4.3
4,21035,12+,744,Solomon R. Guggenheim Museum®,Recreate the Solomon R. Guggenheim Museum® wit...,Discover the architectural secrets of Frank Ll...,Architecture,US,79.99,14.0,3.2,Challenging,4.6,4.1

### Detecting and Dealing With Null Values

Next, it's time to check for null values. How to deal with the null values will be determined by the columns containing them, and how many null values exist in each.  
 
In the cell below, get a count of how many null values exist in each column in the DataFrame.

In [8]:
#Your code here

prod_id                 0
ages                    0
piece_count             0
set_name                0
prod_desc             358
prod_long_desc          0
theme_name              0
country                 0
list_price              0
num_reviews          1421
play_star_rating     1549
review_difficulty    1766
star_rating          1421
val_star_rating      1569
dtype: int64

Now, get some descriptive statistics for each of the columns. You want to see where the minimum and maximum values lie.

In [ ]:
#Your code here

Now that you have a bit more of a understanding of each of these features you can now make an informed decision about the best strategy for dealing with the various null values. 

Some common strategies for filling null values include:
* Using the mean of the feature
* Using the median of the feature
* Inserting a random value from a normal distribution with the mean and std of the feature
* Binning

Given that most of the features with null values concern user reviews of the lego set, it is reasonable to wonder whether there is strong correlation between these features in the first place. Before proceeding, take a minute to investigate this hypothesis.

In [ ]:
#Investigate whether multicollinearity exists between the review features 
#(num_reviews, play_star_rating, star_rating, val_star_rating)

Note that there is substantial correlation between the `play_star_rating`, `star_rating` and `val_star_rating`. While this could lead to multicollinearity in your eventual regression model, it is too early to clearly determine this at this point. Remember that multicollinearity is a relationship between 3 or more variables while correlation simply investigates the relationship between two variables.

Additionally, these relationships provide an alternative method for imputing missing values: since they appear to be correlated, you could use these features to help impute missing values in the others features. For example, if you are missing the star_rating for a particular row but have the val_star_rating for that same entry, it seems reasonable to assume that it is a good estimate for the missing star_rating value as they are highly correlated. That said, doing so does come with risks; indeed you would be further increasing the correlation between these features which could further provoke multicollinearity in the final model.

Investigate if you could use one of the other star rating features when one is missing. How many rows have one of `play_star_rating`, `star_rating` and `val_star_rating` missing, but not all three.

In [ ]:
#Your code here

Well, it seems like when one is missing, the other two are also apt to be missing. While this has been a bit of an extended investigation, simply go ahead and fill the missing values with that features median.  

Fill in the missing `review_difficulty` values with 'unknown'.

In [ ]:
#Your code here

## Normalizing the Data

Now, you'll need to convert all of our numeric columns to the same scale by **_normalizing_** our dataset.  Recall that you normalize a dataset by converting each numeric value to it's corresponding z-score for the column, which is obtained by subtracting the column's mean and then dividing by the column's standard deviation for every value. 


In the cell below:

* Normalize the numeric X features by subtracting the column mean and dividing by the column standard deviation. 
(Don't bother to normalize the list_price as this is the feature you will be predicting.)

In [ ]:
#Your code here

## Saving Your Results

While you'll once again practice one-hot encoding as you would to preprocess data before fitting a model, saving such a reperesentation of the data will eat up additional disk space. After all, a categorical variable with 10 bins will be transformed to 10 seperate features when passed through `pd.get_dummies()`. As such, while the further practice is worthwhile, save your DataFrame as is for now.

In [ ]:
#Your code here

## One-Hot Encoding Categorical Columns

As a final step, you'll need to deal with the categorical columns by **_one-hot encoding_** them into binary variables via the `pd.get_dummies()` method.  

When doing this, you should also subset to appropriate features. If you were to simply pass the entire DataFrame to the `pd.get_dummies()` method as it stands now, then you would end up with unique features for every single product description! (Presumably the descriptions are unique.) As such, you should first subset to the numeric features that you will eventually use in a model along with categorical variables that are not unique.

In the cell below, subset to the appropriate predictive features and then use the [`pd.get_dummies()`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.get_dummies.html) to one-hot encode the dataset.

In [ ]:
#Your code here

That's it! You've now successfully scrubbed your dataset--you're now ready for data exploration and modeling!

## Summary

In this lesson, you learned gain practice with data cleaning by:

* Casting columns to the appropriate data types
* Identifying and deal with null values appropriately
* Removing unnecessary columns
* Checking for and deal with multicollinearity
* Normalizing your data